*{
    font-family: Inter;
}


header{
    background-color: #adc178;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 0 0 30px 30px;
    height: 15vh;
}

nav ul{
    display: flex;
    flex-direction: row;
    padding-right: 100px;
    padding-top: 5px;
}

.link{
    list-style-type: none;
}

.name{
    padding-left: 20px;
    font-weight: 900;
    color: #2b231e;
}

a{
    text-decoration: none;
    color: #634c3b;
    font-weight: 600;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
}

footer{
    background-color: #f0ead2;
    text-align: center;
    height: 15hv;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer p{
    font-weight: 700;
    color: #634c3b;
}

.present{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.rickroll{
    background-color: #dde5b6;
    border-radius: 20px;
    height: 60px;
    width: 250px;
    border: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.present p{
    color: #2b231e;
    font-weight: 700;
    margin-top: 150px;
    margin-bottom: 20px;
    font-size: 24px;
}

.second{
    height: 40%;
    width: 40%;
    display: flex;
    justify-content: center;
    margin-left: 30%;
}

.first{
    height: 40%;
    width: 40%;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-top: 80px;
    margin-bottom: 20px;
}

.text{
    text-align: center;
    padding-bottom: 80px;
}